<style>
	#event-location {
		width: 300px;
	}

	#event-description {
		border-color: silver;
		border-width: 1px;
	}

	.submit {
		cursor: pointer;
	}
</style>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgHGwvDdQb4WfXyN8ZiYYbymdfy98GDjc&libraries=places"></script>
    <h1><%= title %></h1>
    <h2>Create an Event</h2>
    <div class="event-info">
    	<h3>Event Name*</h3>
    	<input type="text" id="event-name" placeholder="name">
    	<h3>Event Location</h3>
    	<div class="google-places-card">
    		<input type="text" id="event-location">
    	</div>
    	<h3>Event Description</h3>
    	<textarea rows="6" cols="40" id="event-description" placeholder="Enter a description."></textarea>
    	<h3>Start Date and Time</h3>
    	<input type="datetime-local" id="event-start">
    	<h3>End Date and Time</h3>
    	<input type="datetime-local" id="event-end">
    	<h3>Time Zone</h3>
    	<%include timezones%>
    	<h3>Price and 3 Letter Currency Code</h3>
    	<input type="number" min="0.00" step="0.01" value="0.00" id="event-price">
    	<input type="text" size="3" id="event-currency" value="USD">
    	<h3>Photo</h3>
    	<input type="file" accept="image/jpeg,image/png,image/jpg" id="event-image-file">
    	<h3>Add to Sites</h3>
    	<input type="checkbox" id="eventbrite" name="eventbrite" checked><label for="eventbrite">Eventbrite</label>
    	<h3></h3>
    	<p class="incomplete-message" style="color: red;display: none;"></p>
    	<button class="submit">Submit</button>
    </div>
  </body>

<script>
	$(document).ready(function () {
		var input = $('#event-location')[0];
		var options = {};
		autocomplete = new google.maps.places.Autocomplete(input, options);

		$('.submit').click(function () {
			$('incomplete-message').hide();
			var file = $('#event-image-file')[0].files ? $('#event-image-file')[0].files[0] : null;
			var sites = {
				eventbrite: $('#eventbrite')[0].checked,
			}

			cleanSites(sites);

			var event = {
				sites: sites,
				name: $('#event-name').val(),
				location: $('#event-location').val(),
				description: $('#event-description').val(),
				start: $('#event-start').val(),
				end: $('#event-end').val(),
				timezone: $('#event-timezone').val(),
				price: $('#event-price').val(),
				currency: $('#event-currency').val(),
				imageFile: file,
			}

			if (!event.name) {
				incomplete('Please include a name for the event');
			} 
			if (!event.location) {
				genMessage('location', sites);
			}
			if (!event.description) {
				genMessage('description', sites);
			}
			if (!event.start) {
				genMessage('start', sites);
			}
			if (!event.end) {
				genMessage('end', sites);
			}
			if (!event.price && event.price != 0) {
				genMessage('price', sites);
			}
			if (!event.currency) {
				genMessage('currency', sites);
			}
			if (!event.imageFile) {
				genMessage('image', sites);
			}


			$.ajax({
                type: 'POST',
                url: '/admin/event',
                data: JSON.stringify(event),
                contentType: 'application/json; charset=utf-8',
            })
                .done(function ( data ) {
                    console.log(data);
                })
                .fail(function ( data ) {

                });
		});

		function cleanSites(sites) {
			var keys = Object.keys(sites);
			for (var i = 0; i < keys.length; i++) {
				if (!sites[keys[i]]) {
					delete sites[keys[i]];
				}
			}
		}

		var required = <%-JSON.stringify(required)%>

		function incomplete (message) {
			if (message.length == 0) {
				console.log('no message');
				return;
			}
			$('.incomplete-message').text(message);
			$('.incomplete-message').show();
			setTimeout(function () {
				$('.incomplete-message').hide();
			}, 3000);
		}

		function genMessage (attribute, sites) {
			var message = '';
			var keys = Object.keys(sites);
			for (var i = 0; i < keys.length; i++) {
				if (required[keys[i]] && required[keys[i]][attribute] == true) {
					if (message.length != 0) {
						message += ', ';
					}
					message += keys[i];
				}
			}
			if (message.length == 0) {
				return;
			}
			message = attribute + ' is required for: ' + message;
			incomplete(message);
		}
	});
</script>
</html>
