<!-- https://gist.github.com/ykessler/3349954 -->

<select name="timezone" id="event-timezone">

	<optgroup label="US (Common)">	
		<option value="America/Puerto_Rico">Puerto Rico (Atlantic)</option>
		<option value="America/New_York" selected>New York (Eastern)</option>
		<option value="America/Chicago">Chicago (Central)</option>
		<option value="America/Denver">Denver (Mountain)</option>
		<option value="America/Phoenix">Phoenix (MST)</option>
		<option value="America/Los_Angeles">Los Angeles (Pacific)</option>
		<option value="America/Anchorage">Anchorage (Alaska)</option>
		<option value="Pacific/Honolulu">Honolulu (Hawaii)</option>
	</optgroup>
	
</select>